@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos del scrollbar personalizados para navegadores WebKit */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Fondo de la pista de la barra */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a3acb8; /* Color de la barra de desplazamiento */
    border-radius: 4px; /* Bordes redondeados */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #777f8a; /* Color de la barra al pasar el mouse */
}

